@import "variables";
@import "mixin";
@import '../../node_modules/bootstrap/scss/bootstrap';

html, body {
	height: 100vh;
}

.container-small {
	width: 500px;
	margin: auto;
}

.section-1 {
	@include image-bg;
	background-image: url("../images/section-1.jpg");
	h1 {
		@include title-case;
	}
}